<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | MembersOnly</title>
    <%= render 'layouts/railshead' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, meassage, class: " alert alert-#{message_type}") %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
